
*.pyc
*.ipynb
*.egg-info

__pycache__/
.env/
.venv/
.ipynb_checkpoints/
htmlcov/
dist/
tests/test_downloads

.coverage
*.code-workspace
.vscode/
downloads/

CONTENT_ARCHITECTURE.md
REFACTORING_PROGRESS.md
REFACTORING.md
old_plans_refact.md
REFACTORING_TODO.md
WEB_LIBRARY_DESIGN.md
